* {
  background: rgb(43, 16, 143);
  font-family: monospace;
  color: wheat;
}

@font-face {
  font-family: "font-1";
  src: url("./assets/Pacifico-Regular.ttf");
}

$font-1: "font-1";
h1 {
  font-family: $font-1;
}
